body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container-form {
  display: flex;
  justify-content: center;
  border: solid 4px rgb(161, 147, 144);
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(120deg, #2980b9, #415bcf);
}
.title {
  display: flex;
  justify-content: center;
}
.form {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.btn {
  border-radius: 50px;
}
